@page "/ipget"
@inject IJSRuntime jsRuntime

<button @onclick="GetIp">Get IP!!!</button>
<textarea id="text" style="width:50%;height:40px;" />

@code{
    public async Task GetIp()
    {
        await jsRuntime.InvokeAsync<object>("GetAddress");
    }
}